---
import { Image } from "astro:assets"

import Layout from "../../../layouts/en/Layout.astro"
import HeaderSmall from "../../../components/HeaderSmall.astro"

import photo from "../../../assets/accueil.png"

const title = "Portfolio"
const subtitle = "My WordPress Portfolio"
---

<Layout title={title}>
  <div>
    <HeaderSmall title={title} subtitle={subtitle} />
  </div>
  <main>
    <div class="mb-12">
      <Image
        class="rounded-lg"
        src={photo}
        alt="Portfolio WordPress"
        width="800"
        height="450"
      />
    </div>
    <div class="mb-12">
      <p class="dark:text-white">
        This website is a project developed throughout the year. It allows me to
        showcase my progress as the year goes on.
      </p>
    </div>
  </main>
</Layout>

<style></style>
