---
import Layout from "../../layouts/en/Layout.astro"

import HeaderSmall from "../../components/HeaderSmall.astro"
import Form from "../../components/en/Form.astro"
const title = "Contact"
const subtitle = "Contact me with the form below or through my social media."
---

<Layout title="Contact">
  <div>
    <HeaderSmall title={title} subtitle={subtitle} />
  </div>
  <main>
    <div class="max-w-md m-auto my-8">
      <Form />
    </div>
  </main>
</Layout>

<style></style>
