---
import Layout from "../../layouts/en/Layout.astro"

import Header from "../../components/en/Header.astro"
import CTA from "../../components/en/CTA.astro"
import FeatureList from "../../components/en/FeatureList.astro"

import Timeline from "../../components/en/Timeline.astro"

import data from "../../data/site_en.json"
---

<Layout title={data.siteName}>
  <main>
    <Header />
    <CTA />
    <FeatureList />
    <Timeline />
  </main>
</Layout>
