---
// import the Image component and the image
import { Image } from "astro:assets"
// import darkImage from "../assets/cta-dashboard-mockup-dark.svg"
// import lightImage from "../assets/cta-dashboard-mockup.svg"
import portait from "../../assets/portrait.png"
const title = "More than just a developer."

const body =
    "Self-taught developer since middle school, I am currently embarking on an apprenticeship journey with K4-U. Beyond just code, I view software development as a collaborative process where each individual brings not only their technical skills but also their personality, creativity, and commitment. As a colleague, I strive to foster a work environment where communication is open, ideas are shared, and mutual support is encouraged. To me, being a developer is not just about writing code; it's also about being an active member of a team working together towards common goals."
---

<section class="mb-12 bg-stone-100 dark:bg-slate-800">
    <div
        class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6"
    >
        <Image
            src={portait}
            class="w-full rounded"
            alt="A description of my image."
        />
        <!-- <img class="w-full dark:hidden border-solid border-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/cta/cta-dashboard-mockup.svg" alt="dashboard image">
        <img class="w-full hidden dark:block" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/cta/cta-dashboard-mockup-dark.svg" alt="dashboard image"> -->
        <div class="mt-4 md:mt-0">
            <h2
                class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
            >
                {title}
            </h2>
            <p class="mb-8 mt-2 text-lg text-gray-700 dark:text-gray-400">
                {body}
            </p>
        </div>
    </div>
</section>
