---
import Heading from "../Heading.astro"

const heading = "My skills"

const sections = [
  "Custom Static Websites",
  "Automatizations",
  "Discord Bot",
  "Dynamic Web",
  "Graphical Design",
  "Collaboration",
]
const sectionsText = [
  "I am capable of creating custom static websites with HTML, CSS, and JavaScript. I also have skills in SEO and accessibility.",
  "I can automate repetitive tasks with scripts in Python, PowerShell, or JavaScript. I have also used GitHub Actions for continuous integration.",
  "I can create Discord bots in Python using the pycord library. I have previously created moderation and schedule bots.",
  "I am capable of creating dynamic websites with various technologies. To name a few: React, Vue, Node.js, Django, Laravel, and many others.",
  "I am able to create logos, banners, illustrations, and website mockups. I primarily use Figma software.",
  "I administer a GitLab server hosted within the company. I am familiar with collaboration tools such as Git, GitHub, GitLab, Discord, Trello, etc.",
]
---

<div class="mb-12 bg-stone-100 dark:bg-slate-800">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <Heading heading={heading} />
    <div
      class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"
    >
      {
        sections.map((section) => {
          return (
            <div class="flex flex-col">
              <div class="mt-6">
                <h3 class="text-lg font-medium text-gray-900 dark:text-white">
                  {sections[sections.indexOf(section)]}
                </h3>
                <p class="mb-8 mt-2 text-lg text-gray-700 dark:text-gray-400">
                  {sectionsText[sections.indexOf(section)]}
                </p>
              </div>
            </div>
          )
        })
      }
    </div>
  </div>
</div>
